<?xml version="1.0"?>
<launch>
  <arg name="map_yaml" doc="filepath to previously captured map (required)" default="/home/hello-robot/ws/src/navigation/alfred_navigation/config/maps/ai_ms.yaml"/> 
  <arg name="rviz"     default="true" doc="whether to show Rviz" />

  <!-- STRETCH DRIVER -->
  <param name="/alfred_driver/broadcast_odom_tf" type="bool" value="true"/>
  <param name="/alfred_driver/mode" type="string" value="navigation" />
  <include file="$(find alfred_core)/launch/driver.launch" pass_all_args="true"/>
  <!-- <include file="$(find stretch_core)/launch/stretch_driver.launch" pass_all_args="true"/> -->

  <include file="$(find stretch_rtabmap)/launch/robot/d435i_basic.launch" pass_all_args="true"/>

  <!-- CENTERED BASE LINK -->
  <node name="centered_base_link_tf_publisher" pkg="tf" type="static_transform_publisher" args="-0.1 0 0 0 0 0 1 /base_link /centered_base_link 100" />

  <!-- LASER RANGE FINDER -->
  <include file="$(find alfred_core)/launch/subsystems/driver/rplidar.launch" />

  <!-- MAP SERVER -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_yaml)" />

  <!-- LOCALIZATION -->
  <include file="$(find alfred_navigation)/launch/localization/amcl.launch" />

  <!-- NAVIGATION -->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <param name="footprint_padding" value="0.01" />
    <param name="controller_frequency" value="10.0" />
    <param name="controller_patience" value="100.0" />
    
    <rosparam file="$(find alfred_navigation)/config/common_costmap_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find alfred_navigation)/config/common_costmap_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find alfred_navigation)/config/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find alfred_navigation)/config/global_costmap_params_withmap.yaml" command="load" />
    <rosparam file="$(find alfred_navigation)/config/dwa_local_planner_params.yaml" command="load" />
    <rosparam file="$(find alfred_navigation)/config/base_global_planner_params.yaml" command="load" />
    <rosparam file="$(find alfred_navigation)/config/move_base_params.yaml" command="load" />
    <!-- <rosparam param="recovery_behaviors"> [ { name: "my_reset", type: "moveback_recovery/MovebackRecovery " } ] </rosparam> -->
    <remap from="/cmd_vel" to="/alfred/cmd_vel" />
    <!-- <rosparam file="$(find alfred_navigation)/config/base_local_planner_params.yaml" command="load" /> -->
  </node>

  <!-- Depth Image to Laser Scan Node -->
  <node name="depthimage_to_laserscan" pkg="depthimage_to_laserscan" type="depthimage_to_laserscan" args="">

    <remap from="image"       to="/camera/aligned_depth_to_color/image_raw"/> <!-- change here for your camera depth topic name. Default: "/camera/depth/image_raw" -->

    <remap from="camera_info" to="/camera/color/camera_info"/> 
    <remap from="scan" to="depth_image_scan"/>
    <!-- the remap for camera_info by default uses the same path as the one given to the image topic. Default: "<path_to_image_topic>/camera_info>" -->

    <!-- PARAMETERS: -->
    <!-- These are the default values. --> 
    <param name="scan_height"     type="int"    value="1"/> <!-- default: 1 pixel. Number of pixel rows used to generate laser scan. -->
    <param name="scan_time"       type="double" value="0.033"/> <!-- default:0.033, 30 FPS . Time between scans. -->
    <param name="range_min"       type="double" value="0.45"/> <!--default:0.45m. Ranges less than this are considered -Inf. -->
    <param name="range_max"       type="double" value="10.0"/> <!--default: 10m. Ranges less than this are considered +Inf. -->
    <param name="output_frame_id" type="str"    value="base_link"/> <!--default: camera_depth_frame. Frame id of the laser scan. -->
	
  </node>
	

  <!-- Navigation Manager -->
  <node name="navigation_manager_node" pkg="alfred_navigation" type="navigation_manager.py" output="screen" />


  <!-- VISUALIZE -->
  <node name="rviz" pkg="rviz" type="rviz" output="log" args="-d $(find alfred_navigation)/rviz/navigation.rviz" if="$(arg rviz)" />

</launch>
